<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <h3>Alexxe</h3>
    <p>Gracias por visitar mi sitio web, ¡espero verte de nuevo pronto!</p>
    <div class="social-links">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="https://github.com/srghostx" class="google-plus"><i class="bx bxl-github"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright . All Rights Reserved
    </div>

  </div>
</footer><!-- End Footer -->
