
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resúmen</h2>
          <p>maestro en lol</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">resúmen</h3>
            <div class="resume-item pb-0">
              <h4>Alexxe</h4>
              <p><em>¡Hola! Mi nombre es Alexxe, y soy un aficionado por la tecnologia
                Tengo 19 años y soy estudiante a especializarme en el desarrollo web full stack en Argentina Programa</em></p>
              <ul>
                <li>Argentina,Jujuy</li>
                <li>+5493885202820</li>
                <li>Alexxe@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Educación</h3>
            <div class="resume-item">
              <h4>Técnico en Electrónica </h4>
              <h5>2017 - 2022</h5>
              <p><em>Estudié en el colegio Tecnica N1</em></p>
            </div>
            <div class="resume-item">
              <h4>Estudiante en Ingenieria Informatica</h4>
              <h5>2023-2023</h5>
              <p><em>Primer Año en la Facultad de Ingenieria Unju</em></p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Experiencias</h3>
            <div class="resume-item">
              <h4>Reparaciones y Mantenimiento de pc</h4>
              <h5>2021 - Present</h5>
              <p><em>Argentina,Jujuy </em></p>
              <ul>
                <li>Mantenimiento en computadoras Hardware/Software</li>
                <li>Reparaciones en computadoras Hardware</li>
              </ul>
            </div>

            </div>
          </div>
        </div>
    </section><!-- End Resume Section -->
