
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: var(--white);
  border-radius: 20px; /*se divide en 3 columnas con una fracción*/
  padding: 40px 0 40px 0;
}

.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--gray);
}

.contact .info p {
  padding: 0  0 10px 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--gray2);
}

.contact .info .email,
.contact .info .phone {
  margin-top: 1.5rem;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--blue2);
  color: var(--white);
}

.contact .form-email {
  width: 100%;
  background: var(--white);
  border-radius: 20px;
  padding: 10px 10px 0 20px;
}

.contact .form-email .form-group {
  padding-bottom: 8px;
}


.contact .form-email button[type=submit] {
  background: var(--blue2);
  border: 0;
  padding: 10px 35px;
  color: var(--white);
  transition: 0.4s;
  border-radius: 50px;
}

.contact .form-email button[type=submit]:hover {
  background: var(--blue3);
}
