 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>Bienvenido a mi portafolio en línea. Aquí encontrarás una selección de mi trabajo y logros en mi campo de especialización. Estoy orgulloso de lo que he logrado y estoy emocionado de compartirlo contigo. Si tienes alguna pregunta o estás interesado en trabajar juntos, no dudes en ponerte en contacto conmigo.</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">Todos</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-games">Juegos</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/app.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App</h4>
            <p>Mercado pay</p>
            <div class="portfolio-links">
              <a href="#"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/web2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web</h4>
            <p>Limpiezas</p>
            <div class="portfolio-links">
              <a href="#" ><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/app2.jpeg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App</h4>
            <p>pcast</p>
            <div class="portfolio-links">
              <a href="#" ><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-games">
        <div class="portfolio-wrap">
          <img src="assets/img/minecraft2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>VideoJuegos</h4>
            <p>minecraft 2</p>
            <div class="portfolio-links">
              <a href="#" ><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/web3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web</h4>
            <p>Bico</p>
            <div class="portfolio-links">
              <a href="#" ><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/app3.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App</h4>
            <p>escrotofy</p>
            <div class="portfolio-links">
              <a href="#" ><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-games">
        <div class="portfolio-wrap">
          <img src="assets/img/juego2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>VideoJuegos</h4>
            <p>Farm Game</p>
            <div class="portfolio-links">
              <a href="#" ><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-games">
        <div class="portfolio-wrap">
          <img src="assets/img/game1.gif" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>VideoJuegos</h4>
            <p>Super Che</p>
            <div class="portfolio-links">
              <a href="#" ><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/web.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web</h4>
            <p>Pedidos Way</p>
            <div class="portfolio-links">
              <a href="#" ><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->
