/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root{
  --blue:#003699;
  --blue2:#0563bb;
  --blue3:#0678e3;
  --sky-blue:#47aeff;
  --green:#108800;
  --pink:#e80368;
  --orange:#ff5828;
  --aqua:#11dbcf;
  --white: #fff;
  --yellow:#ffbb2c;
  --gray:#45505b;
  --gray2:#728394;

}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  background-color: #001741;

}

a {
  color: var(--blue2);
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--white);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: rgb(255, 255, 255);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--blue3);
  color: var(--white);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}



/*
Parallax
*/

.items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-height: 100vh;
  filter: blur(9px);
}

.items__inner{
  width: 500%;
  max-width: 500px;
  height: 100px;
}

.items__layer .items__item{
position: relative;
}

.items__item img{
  height: 250px;
}

.items__layer:nth-child(1) .items__item{
  top:  10px;
  left: 10px;
}

.items__layer:nth-child(2) .items__item{
  top: 100px;
  left: 20em;
}

.items__layer:nth-child(3) .items__item{
  top: 100px;
  left: 500px;
}

.items__layer:nth-child(4) .items__item{
  top: 600px;
  left: 7000px;
}

.items__layer:nth-child(5) .items__item{
  top: 300px;
  left: 20px;
}

.items__layer:nth-child(6) .items__item{
  top: 80px;
  left: 700px;
}

.items__layer:nth-child(7) .items__item{
  top: 300px;
  left: 300px;
}




/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--white);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 3px;
  background: var(--blue2);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
